Package: loquat
Version: 2026.2.11
Maintainer: Jeremy Zheng
Section: net
Priority: optional
Homepage: https://github.com/saturn-xiv/loquat
Architecture: all
Description: A smart router system based on Debian GNU/Linux.
