[Unit]
Description=Check network availability(loquat).
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/loquat -c /etc/loquat/config.toml -d heartbeat -H 223.5.5.5 -r
WorkingDirectory=/var/lib/loquat

[Install]
WantedBy=multi-user.target
