[Unit]
Description=start a camera MJPEG-HTTP streamer.
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/ustreamer --device=/dev/video0 --host=127.0.0.1 --port=8081 --resolution=1920x1080 --desired-fps=30
WorkingDirectory=/var/lib/loquat
Restart=always

[Install]
WantedBy=multi-user.target
